<div class="mainContainer">
    <div class="header">
        <div class="imgContainer"><img src="./../../../assets/offer.png" class="img"></div>
        <div class="offerAnouncement">Go to our product's section and buy everything you
             like, Because we're giving the best offers today
            on the cheerful occasion of Women's Day...!!!
        </div>
    </div>
    <div class="homeContainer">
        <div class="start">
            <div class="discount"><img src="./../../../assets/10.png">
                <p>On Diaries, Pens, Markers and Many 
                    more products.Promo Code: 10OFF</p></div>
        </div>
        <div class="end">
            <div class="discount"><img src="./../../../assets/25.png">
                <p>Use your ICICI debit/credit card and grab
                    25% off on all products.Promo Code: 25OFF</p></div>
        </div>  
        <div class="start">
            <div class="discount"><img src="./../../../assets/30.png">
                <p>Use your HDFC debit/credit card and grab
                    30% off on all products.Promo Code: 30OFF</p></div>
        </div>
        <div class="end">
            <div class="discount"><img src="./../../../assets/40.png">
                <p>Buy 4 products off same category and 
                    grab 40% off on total amount. Promo Code: 40OFF</p></div>
        </div>
        <div class="start">
            <div class="discount"><img src="./../../../assets/50.png">
                <p>Buy 8 products off same category and 
                    grab 50% off on total amount. Promo Code: 50OFF</p></div>
        </div>
        <div class="end">
            <div class="discount"><img src="./../../../assets/40.png">
                <p>Buy 4 products off same category and 
                    grab 40% off on total amount. Promo Code: 40OFF</p></div>
        </div>
        <div class="start">
            <div class="discount"><img src="./../../../assets/50.png">
                <p>Buy 8 products off same category and 
                    grab 50% off on total amount. Promo Code: 50OFF</p></div>
        </div>
        <div class="end">
            <div class="discount"><img src="./../../../assets/40.png">
                <p>Buy 4 products off same category and 
                    grab 40% off on total amount. Promo Code: 40OFF</p></div>
        </div>
        <div class="start">
            <div class="discount"><img src="./../../../assets/50.png">
                <p>Buy 8 products off same category and 
                    grab 50% off on total amount. Promo Code: 50OFF</p></div>
        </div>
        <div class="end">
            <div class="discount"><img src="./../../../assets/40.png">
                <p>Buy 4 products off same category and 
                    grab 40% off on total amount. Promo Code: 40OFF</p></div>
        </div>
    </div>

</div>
