<div class="left">
  <div class="panel">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'90px'">
          <mat-panel-title>
            1. Ask yourself why do you want to write a diary?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p">The very first thing you have to find an answer to when you are thinking about
          how to start a diary is of course why you want to have a diary.
          Is it to keep track of things that have happened, or is it to plan ahead?
          Will you cover a specific topic in your diary, or will it be all-encompassing?

          Perhaps you feel a need to let your creativity loose,
          and want to set aside some time for it regularly? A diary does not
          have to be a notebook with written text in it, it might just as well
          contain pictures, drawings or sketches.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'90px'">
          <mat-panel-title>
            2. Pick a topic for your diary
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="p">The second question of how to start a diary is picking a topic. The possibilities are of course
          endless, but here are a few to help you.
          The regular diary - things that happen and how you feel about them. A diary to keep track of your child’s
          development.
          <li>diary where you regularly list things that you are grateful for, to help you become happier.</li>
          <li>A work-out diary, to keep track of your workouts and results.</li>
          <li>A race diary, where you keep your race analyses for any races you might participate in.</li>
          <li>A food diary, to help you keep track of your diet.</li>
          <li>A dinner diary, to help with dinner planning for your family.</li>
          <li>A guest diary, where you note down things about dinner parties that you host, for example, the guests
            and
            the menu.</li>
          <li>A holiday diary for a specific holiday, to enhance your memories from it.</li>
          <li>A pregnancy diary, for obvious reasons.</li>
          <li>A creativity diary, where you regularly create something.</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'90px'">
          <mat-panel-title>
            3. Dedicate the first page to your chosen topic
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p">Once you have settled on a topic in your how to start
          a diary project, dedicate the first page to the topic. State what
          it is, why you chose it and what you intend to accomplish with the
          diary. If the topic is connected to any goals, note them down as well.
          If you go for an index, this is the place for it.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'90px'">
          <mat-panel-title>
            4. How often and for how long?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p">Now we are at the finer details on how to start a diary, such as deciding on the frequency of
          updating, and for
          how long you intend to keep your diary.
          Some topics have obvious choices, for example, a pregnancy diary, where there is a natural start and stop
          date.
          The update frequency could be chosen a bit more freely, even if there are some expected choices there as
          well.

          For other topics though, such as a race diary, for example, the time period covered might be more difficult
          to
          set (a year? the length of the notebook? until the next Olympic games?) than the frequency (after each
          race).

          When you are thinking about how to start a diary, also consider how much time you have to spend on it. Make
          a
          realistic estimate on the update frequency based on how much time you have or intend to make available for
          it.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'90px'">
          <mat-panel-title>
            5. Personalise your entry format (date, time, headlines)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="p">To thoroughly enjoy the 'how to start a diary' project,
          you should personalise the entry format to suit you as
          well as possible. A few recommendations are to state the
          date and keep the headlines as informative as you can.
        </p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

  <div class="images" style="margin-top: 10px;">
    <img src="./../../../assets/training.jpg" style="position: fixed;bottom: 10px; right: 30px;">
  </div>
</div>